/** --------------- SHOP CARDS --------------- **/

.card {
    position: relative;
    display: block;
    width: 100%;
    height: fit-content;
    background: url("/images/card.png") center center;
    background-size: cover;
    border-radius: 5px;
    overflow: hidden;
    color: #fff;
}

/* image box */
.card .imgBx {
    position: relative;

    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 15rem;
}

.card .imgBx img {
    object-fit: contain;
    rotate: 45deg;
    scale: 1.3;
}

/* content box */
.card .contentBx {
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    top: 150px;

    text-align: center;
    padding: 2rem;
}

.card .contentBx span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.card .contentBx .cardBtn {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
}

.card .contentBx a {
    color: white;
    text-decoration: none;
}

.card .contentBx .size,
.card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    transition: 0.5s;
}

.card .contentBx .size h3,
.card .contentBx .color h3 {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    border-radius: 4px;
    color: var(--color-black);
    cursor: pointer;
}

.card .contentBx .cardBtn:hover,
.card .contentBx .size span:hover {
    background: silver;
    transition: 0.2s;
}

.card .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid white;
    transition: 0.5s;
}

.card .contentBx .color span:nth-child(2) {
    background: white;
}

.card .contentBx .color span:nth-child(3) {
    background: #000;
}

.card .contentBx .color span:nth-child(4) {
    background-color: #d7d7d7;
    background-image: linear-gradient(147deg, #ddd 25%, #777 70%);

}