@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');

.splash video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    display: flex;
}

.splash .overlay {
    position: absolute;
    width: 100%;
    top: 10vh;
}

.imgContainer {
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.img {
    object-fit: contain;
}

/* CSS */
.clickyBtn {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #AAA 0 -3px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    transition: box-shadow .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow;
    font-size: 18px;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
}

.clickyBtn a {
    transition: color .15s;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #5f5f5f;
}

.clickyBtn:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.clickyBtn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #AAA 0 -3px 0 inset;
}

.clickyBtn:hover a {
    color: #52ad40;
}

.clickyBtn:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}