@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');

.splash video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    display: flex;
}

.splash .overlay {
    position: absolute;
    width: 100%;
    top: 10vh;
}

.btn {
    padding: .5rem 3rem;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: black;

    background-color: white;
    text-transform: uppercase;
    font-family: "Patua One";
    font-size: 2rem;

    box-shadow: var(--box-shadow);
}

.btnContainer {
    width: 100%;
    text-align: center;
}

.imgContainer {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    pointer-events: none;
}

.img {
    object-fit: cover;
}